<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">
			jdbc:mysql://localhost:3306/hibernate
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<property name="show_sql">true</property>
		
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">40</property>
		<property name="hibernate.c3p0.timeout">200</property>
		<property name="hibernate.c3p0.max_statements">30</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		
		<mapping resource="People.hbm.xml" />
		
		<event type="load">
			<listener class="com.shengsiyuan.event.TestLoadListener"/>
		</event>
		
		<event type="save">
			<listener class="com.shengsiyuan.event.TestSaveListener"/>
		</event>
		
	</session-factory>

</hibernate-configuration>