.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/

*.swp

test/.settings/
test/WebRoot/WEB-INF/classes/

struts2/.settings/
struts2/WebRoot/WEB-INF/classes/

hibernate/.settings/
hibernate/WebRoot/WEB-INF/classes/

hibernate22/.settings/
hibernate22/target/

hibernate33/.settings/
hibernate33/target/

Hibernate1/.settings/
Hibernate1/target/

Hibernate2/.settings/
Hibernate2/target/

Hibernate3/.settings/
Hibernate3/target/

simplefactory/.settings/
simplefactory/bin/

Spring1/.settings/
Spring1/target/

Spring2/.settings/
Spring2/target/

Spring3/.settings/
Spring3/target/

Spring4/.settings/
Spring4/target/

dependencyCheck/.settings/
dependencyCheck/target/

collection/.settings/
collection/target/

reflection/.settings/
reflection/bin/

init/.settings/
init/target/

destroy/.settings/
destroy/target/

strutsspring/.settings/
strutsspring/WebRoot/WEB-INF/classes/

proxy/bin/
proxy/.settings/

dynamicproxy/bin/
dynamicproxy/.settings/

aopproxy/target/
aopproxy/.settings/

authority/target/
authority/.settings/

authority2/target/
authority2/.settings/

hibernatespring/.settings
hibernatespring/target/
