.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/

*.swp

test/.settings/
test/WebRoot/WEB-INF/classes/

struts2/.settings/
struts2/WebRoot/WEB-INF/classes/

hibernate/.settings/
hibernate/WebRoot/WEB-INF/classes/

hibernate22/.settings/
hibernate22/bin/

hibernate33/.settings/
hibernate33/bin/

simplefactory/.settings/
simplefactory/bin/

Spring1/.settings/
Spring1/bin/


Spring2/.settings/
Spring2/bin/

Spring3/.settings/
Spring3/bin/

Spring4/.settings/
Spring4/bin/

dependencyCheck/.settings/
dependencyCheck/bin/

collection/.settings/
collection/bin/

reflection/.settings/
reflection/bin/
