<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="serviceTarget" class="lee.TestServiceImpl" />
	
	<bean id="authorityInterceptor" class="lee.AuthorityInterceptor">
		<property name="user">
			<value>registedUser</value>
		</property>
	</bean>
	
	<bean id="service" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>lee.TestService</value>
		</property>
		<property name="target">
			<ref local="serviceTarget" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>authorityInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean id="testAction" class="lee.TestActionImpl">
		<property name="ts">
			<ref local="service" />
		</property>
	</bean>
	

</beans>