body {
margin: 0;
padding: 0;
font-size: 12px;
background-color: #E830B0;
background-image:url("../Images/background.jpg"); 
background-repeat: repeat-x;
}

#title{
margin: 0;
padding: 0;
height:100px;
border-bottom-style: solid;
border-bottom-color: red;
border-bottom-width: 2px;
font-size: 24px;
color: #FF6F10;
text-shadow:#999999 5px -5px 3px;
text-align: center;
vertical-align: middle;
}

#menu {
	width: 830px;
	height: 70px;
	background: url(../Images/img03.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 166px;
	height: 73px;
	padding-top: 20px;
	text-transform: lowercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(../Images/img09.jpg) no-repeat;
	color: #FFFFFF;
}

#menu .active a {
	background: url(../Images/img09.jpg) no-repeat;
	color: #372412;
}

strong{
border-width: 1px;
border-style: solid;
border-color: #000000;
margin: 1px;
background-color: #cccccc;}