<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="steelAxe" class="lee.SteelAxe" />
	
	<bean id="chinese" class="lee.Chinese" dependency-check="none">
		<property name="axe">
			<ref local="steelAxe"/>
		</property>
	</bean>
	
</beans>