<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="stoneAxe" class="lee.StoneAxe" />
	
	<bean id="chinese" class="lee.Chinese" dependency-check="none">
		<property name="schools">
			<list>
				<value>小学</value>
				<value>中学</value>
				<value>大学</value>
			</list>
		</property>
		
		<property name="score">
			<map>
				<entry key="数学">
					<value>87</value>
				</entry>
				<entry key="英语">
					<value>89</value>
				</entry>
				<entry key="语文">
					<value>92</value>
				</entry>
			</map>
		</property>
		
		<property name="health">
			<props>
				<prop key="血压">正常</prop>
				<prop key="身高">175</prop>
			</props>
		</property>
		
		<property name="axes">
			<set>
				<value>字符串斧子</value>
				<bean class="lee.SteelAxe" />
				<ref local="stoneAxe" />
			</set>
		</property>
		
	</bean>
	
</beans>