<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	 
	 <display-name>Shengsiyuan Application</display-name>
     <welcome-file-list>
          <welcome-file>index.html</welcome-file>
          <welcome-file>index.htm</welcome-file>
          <welcome-file>index.jsp</welcome-file>
          <welcome-file>default.html</welcome-file>
          <welcome-file>default.htm</welcome-file>
          <welcome-file>default.jsp</welcome-file>
     </welcome-file-list>
     <context-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
          <!-- classpath:/applicationContext*.xml -->
     </context-param>
     <listener>
          <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
     <!-- 页面统计begin -->
     <filter>
          <filter-name>logFilter</filter-name>
          <filter-class>edu.jiangxin.statistics.filter.LogFilter</filter-class>
     </filter>
     <filter-mapping>
          <filter-name>logFilter</filter-name>
          <url-pattern>/*</url-pattern>
     </filter-mapping>
     <!-- 页面统计end -->
     <session-config>
          <session-timeout>30</session-timeout>
     </session-config>
     <filter>
          <filter-name>simplemvc</filter-name>
          <filter-class>com.yuqiaotech.helloj2ee.mvc.DispatcherFilter</filter-class>
          <init-param>
               <param-name>configFile</param-name>
               <param-value>/mvc.xml</param-value>
          </init-param>
     </filter>
     <filter-mapping>
          <filter-name>simplemvc</filter-name>
          <url-pattern>*.mvc</url-pattern>
     </filter-mapping>
     <servlet>
          <description>This is the description of my J2EE component</description>
          <display-name>This is the display name of my J2EE component</display-name>
          <servlet-name>GuessNumber</servlet-name>
          <servlet-class>edu.jiangxin.guessnumber.GuessNumber</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>GuessNumber</servlet-name>
          <url-pattern>/GuessNumber</url-pattern>
     </servlet-mapping>
     <servlet>
          <description>This is the description of my J2EE component</description>
          <display-name>This is the display name of my J2EE component</display-name>
          <servlet-name>BookAdmin</servlet-name>
          <servlet-class>edu.jiangxin.bookadmin.BookAdmin</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>BookAdmin</servlet-name>
          <url-pattern>/BookAdmin</url-pattern>
     </servlet-mapping>
     <servlet>
          <description></description>
          <display-name>Search</display-name>
          <servlet-name>Search</servlet-name>
          <servlet-class>com.db.dao.Search</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>Search</servlet-name>
          <url-pattern>/Search</url-pattern>
     </servlet-mapping>
     <!-- for Jersey begin -->
     <servlet>
          <servlet-name>Jersey REST Service</servlet-name>
          <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
          <init-param>
               <param-name>com.sun.jersey.config.property.packages</param-name>
               <param-value>edu.jiangxin.jersey.resources</param-value>
          </init-param>
          <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
          <servlet-name>Jersey REST Service</servlet-name>
          <url-pattern>/rest/*</url-pattern>
     </servlet-mapping>
     <!-- for Jersey end -->
     <servlet>
          <servlet-name>WeatherServlet</servlet-name>
          <servlet-class>edu.jiangxin.webservice.weatherservice.WeatherServlet</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>WeatherServlet</servlet-name>
          <url-pattern>/JSP/WeatherService/weatherServlet</url-pattern>
     </servlet-mapping>
     <filter>
          <filter-name>ClickFilter</filter-name>
          <filter-class>edu.jiangxin.filter.ClickFilter</filter-class>
     </filter>
     <filter-mapping>
          <filter-name>ClickFilter</filter-name>
          <url-pattern>/*</url-pattern>
     </filter-mapping>
     <!-- 添加 CXF 的Servlet ，处理 webservice的请求 -->
     <servlet>
          <servlet-name>cxf</servlet-name>
          <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
          <load-on-startup>0</load-on-startup>
     </servlet>
     <servlet-mapping>
          <servlet-name>cxf</servlet-name>
          <url-pattern>/ws/*</url-pattern>
     </servlet-mapping>
     <jsp-config>
          <taglib>
               <taglib-uri>http://javaxp.net/xl</taglib-uri>
               <taglib-location>/WEB-INF/xianlin.tld</taglib-location>
          </taglib>
     </jsp-config>
     <icon>
          <small-icon>images/smallicon.jpg</small-icon>
          <large-icon>images/largeicon.jpg</large-icon>
     </icon>
     <filter>
          <filter-name>struts2</filter-name>
          <filter-class>
               org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
          </filter-class>
     </filter>
     <filter-mapping>
          <filter-name>struts2</filter-name>
          <url-pattern>*.ftl</url-pattern>
     </filter-mapping>
     <servlet>
          <servlet-name>freemarker</servlet-name>
          <servlet-class>freemarker.ext.servlet.FreemarkerServlet
          </servlet-class>
          <init-param>
               <param-name>TemplatePath</param-name>
               <param-value>/</param-value>
          </init-param>
          <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
          <servlet-name>freemarker</servlet-name>
          <url-pattern>*.ftl</url-pattern>
     </servlet-mapping>
	 
	 
	 
	 <!--shengsiyuan javaweb begin-->
	 
	 	  <servlet>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>com.shengsiyuan.imagetools.GetImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveImageServlet</servlet-name>
    <servlet-class>com.shengsiyuan.imagetools.SaveImageServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/GetImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveImageServlet</servlet-name>
    <url-pattern>/SaveImageServlet</url-pattern>


    <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.shengsiyuan.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>com.shengsiyuan.servlet.XMLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GsonServlet</servlet-name>
    <servlet-class>com.shengsiyuan.servlet.GsonServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/XMLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GsonServlet</servlet-name>
    <url-pattern>/GsonServlet</url-pattern>
  </servlet-mapping>

	<listener>
		<listener-class>com.shengsiyuan.listener.MyServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.shengsiyuan.listener.MyServletContextAttributeListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.shengsiyuan.listener.MySessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.shengsiyuan.listener.MySessionAttributeListener</listener-class>
	</listener>


	<!-- <filter> <filter-name>LoginFilter</filter-name> <filter-class>com.shengsiyuan.filter.LoginFilter</filter-class>
		</filter> <filter-mapping> <filter-name>LoginFilter</filter-name> <url-pattern>/*</url-pattern>
		</filter-mapping> -->

	<filter>
		<filter-name>CommentFilter</filter-name>
		<filter-class>com.shengsiyuan.filter.CommentFilter</filter-class>
		<init-param>
			<param-name>hello</param-name>
			<param-value>world</param-value>
		</init-param>
		<init-param>
			<param-name>zhang</param-name>
			<param-value>li</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>MyFilter1</filter-name>
		<filter-class>com.shengsiyuan.filter.MyFilter1</filter-class>
	</filter>

	<filter>
		<filter-name>MyFilter2</filter-name>
		<filter-class>com.shengsiyuan.filter.MyFilter2</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CommentFilter</filter-name>
		<url-pattern>/CommentServlet</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyFilter1</filter-name>
		<url-pattern>/InfoServlet</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyFilter2</filter-name>
		<url-pattern>/CommentServlet</url-pattern>
	</filter-mapping>




	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.HelloWorldServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.TestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubleColorBallServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.DoubleColorBallServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyForwardServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.MyForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.ValidateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.ProcessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.ServiceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.InitServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CounterServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.CounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CookieServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.CookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyLoginServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.MyLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyQueryServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.MyQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyUpdateServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.MyUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.InfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitServlet2</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.InitServlet2</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/aaa</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoubleColorBallServlet</servlet-name>
		<url-pattern>/DoubleColorBallServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyForwardServlet</servlet-name>
		<url-pattern>/MyForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateServlet</servlet-name>
		<url-pattern>/ValidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessServlet</servlet-name>
		<url-pattern>/ProcessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/ServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounterServlet</servlet-name>
		<url-pattern>/CounterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieServlet</servlet-name>
		<url-pattern>/CookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyLoginServlet</servlet-name>
		<url-pattern>/MyLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyQueryServlet</servlet-name>
		<url-pattern>/MyQueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyUpdateServlet</servlet-name>
		<url-pattern>/MyUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/InfoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>com.shengsiyuan.servlet.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>
	 <!--shengsiyuan javaweb end-->
</web-app>